body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  position: relative;
  padding-bottom: 8px;
  margin-right: 16px;
  color: #45454598;
  text-decoration: none;
  transition: all;
  transition-duration: 300ms;
  margin: 2 0;
  display: block;
  font-size: 25px;
  cursor: pointer;
}

.nav:hover {
  color: black;
}

.nav.active::after {
  content: '';
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.white-underline:before,
.white-underline:after {
  border-bottom-color: white !important;
}

.white-focused:hover:before,
.white-focused:hover:after {
  border-bottom-color: white !important;
}

.white-focused:after {
  border-bottom-width: 2px !important;
}
.styled-textField{
  border-radius: 40px;
}

.styled-textField::before, .styled-textField::after {
  border-radius: 40px;
}
@media only screen and (max-width: 970px) {
  .nav {
    font-size: 14px;
  }
}

@media only screen and (min-width: 970px) {
  .nav {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1080px) {
  .nav {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .nav {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1366px) {
  .nav {
    font-size: 30px;
  }
}